
.nb_container{
    height: auto;
    width: 90vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    background-color: #24242433;
}

.nb_paragraph{
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 2rem 1rem;
    line-height: 1.4;
}
.nb_button{
    height: auto;
    width: auto;
    background-color: #4FA673;
    border: none;
    border-radius: 12px;
    font-family: 'Raleway';
    font-size: 12pt;
    font-weight: 600;
    color: white;
    align-self: center;
    margin-top: 3vh;
    cursor: pointer;
    padding: 1rem;
    -webkit-box-shadow:0px 0px 47px 5px rgba(219,185,75,0.52);
-moz-box-shadow: 0px 0px 47px 5px rgba(219,185,75,0.52);
box-shadow: 0px 0px 47px 5px rgba(219,185,75,0.52);
}
.nb_button:hover{
    background-color: #ffffff;
    color: #4FA673 ;
    transition: 1s;
    
}
.blog_name{
    border-radius: 12px;
    font-weight: 700;   
    font-size: 26pt;
}
.abc{
    font-weight: 700;
}
.home_blog_card{
    width: 100%;
    max-width: 700px; /* Set a maximum width for responsiveness */
    aspect-ratio: 1/1; 
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
    height: auto;
    object-fit: cover;
    margin: 2rem 0;
}  
.hpb_button{
    margin: 3rem 0;
}




@media (min-width:1025px) { 
    .nb_container{
        width: 70vw;
        font-size: 18pt;
    }
    .nb_container_outer h3{
        font-size: 26pt;
        padding: 1rem;
        font-weight: 600;
    }
.nb_button{
    font-size: 18pt;
    border-radius: 20px;
    white-space: nowrap;
    width: auto;
     padding: 1.25rem 1.5rem;
}
 }


@media (min-width:1500px) { 
.blog_card_container{
display: flex;
justify-content: space-evenly;
}
.home_blog_text{
    margin: 2rem;
}
.blog_name{
   padding: 2.5rem;
}
.home_blog_text_title{
    align-self: center;
}
.blog_intro_container{
width: 20vw;
height: 40vh;
overflow: hidden;
}
.blog_intro{
    line-height: 1.8;
}

 }


