.h2_carousel{
    background-color: #79837be1;
    color: rgb(0, 0, 0);
    padding-bottom: 5vh;
}

.h2_carousel h1{
    font-size: 30pt;
    font-weight: 800;
    padding: 2rem;
    font-family: Kaushan Script;
    text-shadow: 1px 1px 0 #e5c100, 2px 2px 0 #cba900, 3px 3px 0 #b0a200, 4px 4px 0 #968b00, 5px 5px 0 #7d7400, 6px 6px 0 #645d00, 7px 7px 0 #4a4600;
}

