.create_popup{
    height: 50vh;
    background-color: #242424;
    padding-top: 15vh;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
}