.home{
    padding-top: 5vh;
    width: 100vw;
    background-image: linear-gradient(#4FA673, #DBBA4BA8 , #FB492C87) ;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.welcome{
    height: auto;
    width: 92vw;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 5vh;
    margin-top: 10vh;
    margin-bottom: 15vh;
    background-color: #242424;
    padding-bottom: 6vh;
}
.welcome p{
    line-height: 1.4;
}
.w{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 35vw;
    white-space: nowrap;
}
.w_1{
    margin-top: 4vh;
    margin-left: -12rem;
    color: #4FA673;
    font-size: 14pt;
    font-weight: 600;
}
.w_2{
    font-size: 30pt;
    font-weight: 700;
    color: #DBBA4B;
   align-self: center;
}
.w_3{
    margin-left: -11vw;
    margin-top: 1vh;
    color: #4FA673;
    font-size: 14pt;
    font-weight: 600;
}

.p_1{
    color: white;
    font-weight: 500;
    font-size: 12pt;
    margin-top: 2vh;
    margin: 2vw 4vw;
    margin-bottom: -2vh;
}


@media (min-width:1025px) { 
.welcome{
    width: 60%;
}
.w{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: auto;
    word-wrap: break-word;
}
.w_1{
    font-size: 26pt;
    margin-left: -30rem;
    padding-left: 5rem;
}
.w_2{
    font-size: 60pt;
}
.w_3{
    font-size: 26pt;
    margin-left: 5vw;
}
.p_1{
    font-size: 18pt;
    line-height: 1.4;
}
 }
 @media (min-width:1281px) { 
    .w_1{
        padding-left: 2rem;
    }
    .w_3{
        margin-left: 15vw;
    }
  }
  @media (min-width: 2200px) {
    .w_1{
        margin-left: -40rem;
    }
  } 