.eh{
    height: 50vh;
}
.related_container{
display: flex;
flex-direction: row;
white-space: nowrap;
width: 100%;
overflow-x: auto;
}
.inner_container{
    display: flex;
    flex-direction: row;
}
.related_card {
    display: flex;
    flex-direction: column;
  height: 20vh;
  width: 150px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
}

.h1r{
  word-wrap: break-word;
  font-size: 8pt;
}

.related_card img{
    height: 10vh;
    width: 10vw;
}
.related_card_p{
    margin: 0 !important;
}