
#top_smoke{
  d: path("M1886.78 177.659H982.983c-59.904 0-108.456 45.205-108.456 100.98 0 55.774 48.552 100.979 108.456 100.979h271.137c29.94 0 54.23 22.62 54.23 50.49 0 27.871-24.29 50.49-54.23 50.49h-18.07c-79.86 0-144.61 60.285-144.61 134.64 0 11.714 2.13 22.855 5.13 33.66H2243.2c2.96-10.805 5.1-21.946 5.1-33.66 0-74.355-64.75-134.64-144.61-134.64H1868.7c-29.93 0-54.22-22.619-54.22-50.49 0-27.87 24.29-50.49 54.22-50.49h18.08c59.9 0 108.45-45.205 108.45-100.979 0-55.775-48.55-100.98-108.45-100.98");
animation: smoky;
animation-duration: 2s;


}


#mid_smoke{
  d: path("M946.831 783.538H675.692c-49.925 0-90.379 37.665-90.379 84.149 0 46.485 40.454 84.15 90.379 84.15 29.934 0 54.228 22.62 54.228 50.493 0 27.87-24.294 50.49-54.228 50.49h-72.303c-49.926 0-90.38 37.66-90.38 84.15 0 46.48 40.454 84.15 90.38 84.15h180.759c29.934 0 54.228 22.62 54.228 50.49s-24.294 50.49-54.228 50.49h-18.076c-39.948 0-72.304 30.16-72.304 67.32 0 37.19 32.356 67.32 72.304 67.32h180.759V783.538");
  animation: smoky2;
  animation-duration: 2s;

}

#road{
  d: path("M2718.27 1860.66H1094.04c-32.93 0-63.7 19.42-72.27 49-12.94 44.77 23.5 85.63 69.67 85.63h560.35c29.94 0 54.23 22.62 54.23 50.49 0 27.88-24.29 50.49-54.23 50.49h-184.95c-32.94 0-63.7 19.43-72.27 49.01-12.9 44.77 23.54 85.63 69.67 85.63h962.21c32.94 0 63.7-19.42 72.27-49 12.94-44.77-23.5-85.64-69.66-85.64h-54.23c-29.93 0-54.23-22.61-54.23-50.49 0-27.87 24.3-50.49 54.23-50.49h340.84c32.93 0 63.7-19.42 72.27-49 12.94-44.77-23.5-85.63-69.67-85.63z");
  animation: road;
  animation-duration: 2s;

}

  
   #front_wheel{
    d: path("M2392.9 1557.72c-119.79 0-216.91 90.42-216.91 201.96 0 111.53 97.12 201.96 216.91 201.96 119.8 0 216.92-90.43 216.92-201.96 0-111.54-97.12-201.96-216.92-201.96z");
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation-duration: 3s;
    animation-name: rotate;

   }
   #back_wheel{
    d: path("M1416.81 1557.72c-119.8 0-216.92 90.42-216.92 201.96 0 111.53 97.12 201.96 216.92 201.96 119.79 0 216.91-90.43 216.91-201.96 0-111.54-97.12-201.96-216.91-201.96z");
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation-duration: 3s;
    animation-name: rotate;

   }
   @keyframes smoky {
    0% {
      transform: translateX(-95px) ;
      opacity: 0.8;
    }
    50% {
      transform: translateX(50px);
      opacity: 0.5;
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    }
  }
   @keyframes smoky2 {
    0% {
      transform: translateY(-75px) ;
      opacity: 0.8;
    }
    50% {
      transform: translateY(30px);
      opacity: 1;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes road {
    0% {
      transform: scaleX(1);
    }
    20% {
      transform: scaleX(.5);
    }
    50% {
      transform: scaleX(1.1);
    }
    100% {
      transform: scaleX(1);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(2160deg);
    }
  }
